src/*.exe
.*.swp
*.*~*
src/chronokingsd
Makefile
build
huntercoin-qt
qrc_*.cpp
src/huntercoind
/huntercoinbgb-qt.pro
/Makefile.bgb.Release
/Makefile.Debug
/Makefile.Release
/object_script.huntercoin-qt.Debug
/object_script.huntercoin-qt.Release
